<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}" />

    <title>calender apps </title>
  </head>
  <body>
    {%  block content %}

    {%  endblock %}
    <script src=" {%  static 'myapp/js/calender.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var csrf_token = '{{ csrf_token }}'
    </script>

  </body>
</html>
